#include <windows.h>
#include "version.h"

#define ICON_1		105
#define INVISIBLE	2195

ICON_1 ICON "resources/sludge.ico"
999 ICON "resources/gameIcon.ico"

106	BITMAP "resources/sludge.bmp"
107	BITMAP "resources/loading.bmp"

INVISIBLE CURSOR "resources/invis.cur"
2196 CURSOR "resources/cross.cur"
2197 CURSOR "resources/BigArrow.cur"

100 DIALOG 60, 60, 200, 140
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Welcome to SLUDGE!"
FONT 10, "Arial"
BEGIN
    CTEXT           "This game was written using the SLUDGE development kit from Hungry Software.", -1, 15, 5, 170, 16
	CTEXT			"The Hungry Software site contains more information on the SLUDGE development kit, the SLUDGE language, latest downloads and details of other SLUDGE projects.", -1, 15, 26, 170, 32
	CTEXT			"If you fancy playing more SLUDGE games, or creating your own, press the button below or visit http://www.hungrysoftware.com/ and click on SLUDGE.", -1, 15, 63, 170, 32
	DEFPUSHBUTTON	"Visit the Hungry Software web site", 3456, 5, 100, 190, 15, WS_GROUP
    PUSHBUTTON   	"10", IDOK, 5, 120, 190, 15, WS_GROUP | WS_DISABLED
END

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", TEXT_VERSION"\0"
            VALUE "FileDescription", "SLUDGE Engine\0"
            VALUE "LegalCopyright", COPYRIGHT_TEXT"\0"
            VALUE "About SLUDGE", "Er... well, SLUDGE stands for Scripting Language for Unhindered Development of a Gaming Environment. So there. What, you thought this was a help file?\0"
            VALUE "About the engine", "This program is freeware! The SLUDGE engine is freely distributable so long as it's not changed in any way. If you're writing a game in SLUDGE, feel free to add the SLUDGE engine to your archive. Enjoy!\0"
//          VALUE "FMOD on the WWW", "The sound library used in the SLUDGE engine is FMOD, which you can find on the internet at http://www.fmod.org/.\0"
            VALUE "BASS on the WWW", "The sound library used in the SLUDGE engine is BASS, which you can find on the internet at http://www.un4seen.com/.\0"
            VALUE "SLUDGE on the WWW", "When you get a free moment, you could do worse than to pop over to http://hungrysoftware.com/ and check out the SLUDGE resources. You know you want to, fool.\0"
            VALUE "UPX on the WWW", "This SLUDGE executable has been compressed using the UPX executable packer. For more information, please visit the UPX website. It's at http://upx.sf.com/ and it's lovely.\0"
        END
    END
END



