[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SLUDGE Engine
Comment=Play SLUDGE games
Comment[de]=SLUDGE-Spiele spielen
MimeType=application/x-sludge-game
Exec=sludge-engine %f
Icon=sludge-engine
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;AdventureGame
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;Old
