body {	
	background-color:white;
	color:black;
	font-family:sans-serif;	
}

a:link, a:visited{
	color: #00a500;
	text-decoration:none;
}

a:hover, a:active{
	color:black;
	text-decoration:underline;
}

h2{
	text-align:center;
	margin:10px;
}

pre {
	color:#BB4444;
	font-family:monospace;
	font-weight:bold;
}

HR {
	border:0;
	height:4px;
	color:black;
	background-color:black;
}

#headerGraphic{
	margin-top:10px;
}

td.heading {
	font-family:Arial;
	color:#DD0000;
	font-size:large;
	font-weight:bold;
	height:80px;
	width:292px;
	background-image:url('images/sludgepale.gif');
	text-align:center;
	vertical-align:bottom;
}

P.copyright-notice {
	font-size:x-small;
	font-weight:bold;
	margin-bottom:2px;
}

.syntax {
	font-size:x-large;
}

.syntax-deprecated {
	font-size:medium;
    text-decoration: line-through;
	color:#FF8888;
}

div.bash {
	color: white;
	font-family: monospace;
	font-weight:normal;
	background-color: #454545;
	border: 1px solid #666;
	margin: 0.3em 1em;
	padding: 3px;
	clear: none;
	overflow: auto;
}
