#include "../source/CommonCode/version.h" 
ID ICON "../images/ProjIcon/ProjIcon.ico"
1 VERSIONINFO
FILEVERSION     MAJOR_VERSION,MINOR_VERSION,0,BUILD_VERSION
PRODUCTVERSION  MAJOR_VERSION,MINOR_VERSION,0,BUILD_VERSION 
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "Comments", "For more info on SLUDGE, see http://opensludge.github.io"
      VALUE "CompanyName", "SLUDGE Developers"
      VALUE "FileDescription", "SLUDGE Project Manager"
      VALUE "FileVersion", TEXT_VERSION
      VALUE "InternalName", "sludge-projectmanager"
      VALUE "LegalCopyright", "(C) 2000 - 2012 Hungry Software and contributors"
      VALUE "OriginalFilename", "sludge-projectmanager.exe"
      VALUE "ProductName", "SLUDGE Dev Kit"
      VALUE "ProductVersion", TEXT_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
