<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zbu</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE zBuffer</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>zDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slu</string>
				<string>sld</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>scriptIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE Script</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>duc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>spriteIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE Sprite Bank</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SpriteBank</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slx</string>
				<string>sl2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>slx.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE Image</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ProjIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE Project file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ProjectDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floorIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE Floor</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FloorDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tra</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flags.icns</string>
			<key>CFBundleTypeName</key>
			<string>SLUDGE Translation file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TranslationDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SLUDGE Dev Kit Help</string>
	<key>CFBundleHelpBookName</key>
	<string>SLUDGE Dev Kit Help</string>
	<key>CFBundleIconFile</key>
	<string>Compiler</string>
	<key>CFBundleIdentifier</key>
	<string>com.hungrysoftware.SludgeDevKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>NSMainNibFile</key>
	<string>DevKit Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
