#include <windows.h>
#include "..\Windows\WINTERFA.H"
#include "..\source\CommonCode\version.h"

DLG_COMPILE DIALOG 100, 80, 229, 186
STYLE WS_CAPTION | WS_VISIBLE
//EXSTYLE WS_EX_TOPMOST
CAPTION "Compiling..."
FONT 8, "Arial"
{
// DEFPUSHBUTTON "Cancel", COM_CANCEL_BUTTON, 22, 110, 185, 14

 GROUPBOX "Project", 	-1,				2,	 2,		225, 22

   LTEXT "Name:",		-1,				8,	 12,	30,  8
   LTEXT "", 			COM_PROJTEXT,	42,  12,	176, 8

 GROUPBOX "Progress",	-1,				2,	 28,	225, 76

   LTEXT "Task:",		-1,				8,	 38,	30,  8
   LTEXT "", 			COM_PROGTEXT,	42,  38,	176, 8

   LTEXT "File:",		-1,				8,	 64,	30,  8
   LTEXT "", 			COM_FILENAME,	42,  64,	176, 8

   LTEXT "Item:",		-1,				8,	 90,	30,  8
   LTEXT "", 			COM_ITEMTEXT,	42,  90,	176, 8

   RTEXT "100%", 		COM_PERC1,		200, 51,	18,	 8
   RTEXT "100%", 		COM_PERC2,		200, 77,	18,	 8

 GROUPBOX "Statistics", -1,				2,	 108,	225, 56

   LTEXT "Functions:",	-1,				8,	 118,	60,  8
   LTEXT "???",			COM_NUM_FUNC,	72,  118,	146, 8

   LTEXT "Objects:",	-1,				8,	 126,	60,  8
   LTEXT "???",			COM_NUM_OBJ,	72,  126,	146, 8

   LTEXT "Globals:",	-1,				8,	 134,	60,  8
   LTEXT "???",			COM_NUM_GLOB,	72,  134,	146, 8

   LTEXT "Strings:",	-1,				8,	 142,	60,  8
   LTEXT "???",			COM_NUM_STRINGS,72,  142,	146, 8

   LTEXT "Resources:",	-1,				8,	 150,	60,  8
   LTEXT "???",			COM_NUM_RES,	72,  150,	146, 8

 PUSHBUTTON 	"Close", 	IDCANCEL,	3, 	 166, 109, 14, WS_TABSTOP | WS_DISABLED
 PUSHBUTTON    "Run now", 	IDOK,		115, 166, 109, 14, WS_TABSTOP | WS_DISABLED

}

WARNINGDIALOG DIALOG 80, 280, 420, 90
STYLE WS_CAPTION
//EXSTYLE WS_EX_TOPMOST
CAPTION "Errors and warnings"
FONT 8, "Arial"
{
	LISTBOX ID_WARNINGLIST,		6,	6, 408, 78, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
}

IDI_ICON1 ICON "compiler.ico"

