#include <windows.h>
#include "WINTERFA.H"
#include "version.h"

500 DIALOG 50, 20, 300, 233
STYLE WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_VISIBLE
CAPTION "SLUDGE Translation Editor"
FONT 10, "Arial"
{

// CTEXT "", ID_GAMENAME, 10, 29, 280, 8

 LTEXT "Untitled", ID_FILENAME,		5,		3,		209,	8
 LTEXT "ID number:", -1,			215,	3,		44,		8
 EDITTEXT ID_ID,					260,	2,		35,		10
 
 // Drop-down selection box for topic types
 COMBOBOX ID_CATEGORY, 				5,		15,		240,	54, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON "Search",
 						ID_SEARCH,	250,	15,		45,		12

 // List of matching topics
 LISTBOX ID_STRINGS, 				5,		29,		290,	114, LBS_NOTIFY | WS_BORDER | /*LBS_EXTENDEDSEL |*/ WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | LBS_NOINTEGRALHEIGHT

 GROUPBOX "",				-1,		5,		144,	290,	73
 
 LTEXT "Selected text...", -1,
 									10,	152,	120,	8
 									
 EDITTEXT ID_ORIGINAL_TEXT, 	10,		162,	280,	10

 AUTOCHECKBOX "Requires translating...", ID_GOT_TRANSLATION,
 									10,	175,	120,	8
 									
 EDITTEXT ID_ENTER_TRANSLATION, 	10,		185,	280,	10, ES_AUTOHSCROLL

 PUSHBUTTON "Commit changes",
 							IDOK,	10,		198,	80,		14
 PUSHBUTTON "Undo changes",	ID_UNDO,210,	198,	80,		14
 
}

1 MENU
BEGIN
    POPUP "&File"
        begin
            MENUITEM "&New", 					ID_PROJECT_NEW
            MENUITEM "&Open", 					ID_PROJECT_LOAD
            MENUITEM "&Revert",					ID_PROJECT_REVERT
            MENUITEM SEPARATOR
    		MENUITEM "&Save",					ID_PROJECT_SAVE
    		MENUITEM "Save &as",				ID_PROJECT_SAVEAS
            MENUITEM SEPARATOR
            MENUITEM "E&xit",    				IDCANCEL
        end
    POPUP "&Add strings"
    	begin
            MENUITEM "&Update/create from project",	ID_PROJECT_UPDATE
    	end
    POPUP "&Help"
    	begin
            MENUITEM "&Help",	ID_HELP
    	end
END

2 ICON "resources/flags.ico"
3 ICON "resources/miniflags.ico"
4 ICON "resources/bubble.ico"

666 DIALOG 100, 100, 160, 65
STYLE WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "Arial"
{
 LTEXT "Find this text:", -1,			5,  5, 150,  8
 EDITTEXT ID_SEARCH,					5, 15, 150, 10, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL

 AUTOCHECKBOX "Case sensitive", ID_CASESENSITIVE, 5, 31, 150, 8,  WS_TABSTOP
 DEFPUSHBUTTON "Search", 	IDOK,		5, 46, 50, 14, WS_TABSTOP
 PUSHBUTTON "Cancel", 	IDCANCEL,		60, 46, 50, 14, WS_TABSTOP
}
