#include <windows.h>
#include "winterface.h"
#include "version.h"

10 ICON "resources/zicon.ico"
103 CURSOR "resources/arrows.cur"
104 CURSOR "resources/mover.cur"

1 MENU
BEGIN
    popup "&File"
        BEGIN
            MENUITEM "&Open", ID_OPEN_ZBUFFER
            MENUITEM "&Save", ID_SAVE
            MENUITEM "Save &as...", ID_SAVE_AS
            MENUITEM SEPARATOR
            MENUITEM "E&xit", ID_EXIT
        end
    POPUP "&View"
        begin
            MENUITEM "&High-speed scroll", ID_VIEW_SPEEDSCROLL
        end        
END

LAYERSETTINGS DIALOG DISCARDABLE  22, 17, 135, 104
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Layer settings"
FONT 8, "Arial"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 5, 84, 125, 15, WS_GROUP
    
    CTEXT           "", ID_LAYERTOTAL,	5, 5, 125, 8
    CTEXT           "", ID_LAYERNUM,	5, 20, 125, 8
    CTEXT           "Characters will be drawn in front of this layer if they are further down the screen than:", -1, 5, 35, 125, 32
	EDITTEXT		ID_LAYERCUTOFF,		50, 64, 35, 12, WS_BORDER | WS_TABSTOP
END

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileVersion", TEXT_VERSION"\0"
            VALUE "FileDescription", "SLUDGE Z-Buffer Maker\0"
            VALUE "LegalCopyright", COPYRIGHT_TEXT"\0"
            VALUE "About SLUDGE", "Er... well, SLUDGE stands for Scripting Language for Unhindered Development of a Gaming Environment. So there. What, you thought this was a help file?\0"
            VALUE "About the Z-buffer maker", "The SLUDGE Z-buffer maker is part of the SLUDGE development kit. Use it to define parts of a scene which should be visible in front of characters such as doorframes, walls or fixed objects.\0"
            VALUE "SLUDGE on the WWW", "When you get a free moment, you could do worse than to pop over to http://hungrysoftware.com/ and check out the SLUDGE resources. You know you want to, fool.\0"
            VALUE "UPX on the WWW", "This SLUDGE executable has been compressed using the UPX executable packer. For more information, please visit the UPX website. It's at http://upx.sf.com/ and it's lovely.\0"
        END
    END
END
