[Desktop Entry]
Version=1.0
Name=SLUDGE Z-Buffer Maker
Comment=Edit SLUDGE z-buffer files
Comment[de]=SLUDGE-Z-Buffer-Dateien bearbeiten
MimeType=application/x-sludge-zbuffer
Exec=sludge-zbuffermaker %f
Icon=sludge-zbuffermaker
Terminal=false
Type=Application
StartupNotify=false
Categories=Development;IDE;GTK
